agm-map {
    height: 300px !important;
    width: 100%;  /* This is really important*/
    direction: rtl;
    background-color: aqua;
  }
  #button1 {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 60%;
    margin: -100px 0 0 -150px;
  }
  