<nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
    <a class="navbar-brand" href="#">
        הארץ - מאגר הדירות הגדול
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">דף הבית <span class="sr-only">(current)</span></a>
            </li>


        </ul>


    </div>
</nav>
<br>
<br>



<button mat-stroked-button color="primary" (click)="printPage()" type="button" id="print">
    <mat-icon>print</mat-icon>
    pdf-הדפסה או יצוא ל
</button>
<div class="container" dir="rtl">
    <table class="table table trapped" id="department-table">
        <tbody>
            <tr *ngFor="let data of currentDepartments" dir="rtl">
                <td> <img *ngIf="data.picture" [src]="data.picture" height="200">
                </td>
                <td>
                    <div>
                        {{data.category}}
                    </div>
                    <div>
                        {{data.type}}, {{data.neighborhood}}, {{data.street}}
                    </div>
                </td>

                <td>
                    <div>
                        {{data.numOfRooms}}
                    </div>
                    <div>
                        חדרים
                    </div>
                </td>
                <td>
                    <div>
                        {{data.floor}}
                    </div>
                    <div>
                        קומה
                    </div>
                </td>
                <td>
                    <div>
                        {{data.size}}
                    </div>
                    <div>
                        מ"ר
                    </div>
                </td>

                <td>{{data.details}}</td>
                <td>
                    <div>
                        {{data.price}}
                    </div>
                    <div>
                        ש"ח
                    </div>
                </td>
                <td id="delete">

                    <button type="submit" class="btn btn-outline-secondary" id="button1" (click)="delete(data._id)">
                        מחיקה
                    </button>
                </td>


            </tr>
        </tbody>
    </table>
</div>